#wrapper {
	div.branding {
		h1,p {
			display: block;
			margin: 0 auto;
			text-align: center;
			width: 400px;
		}
		
		div.contact {
			width: 400px;
			margin: 0 auto;
			text-align: center;
			
			span {
				display: inline-block;
				font-size: 9pt;
				
				&.email {
					margin-right: 10px;
				}
				
				&.phone {
					margin-left: 10px;
				}
			}
		}
	}
	
	nav.mainNav {
		width: 600px;
		margin: 0 auto;
		
		ul {
			text-align: center;
			margin: 0;
			
			li {
				list-style: none;
				display: inline-block;
				margin: 2px 5px;
			}
		}
	}
	
	footer {display: none;}
}